"""
Validation function for: {{ problem.description }}
"""
{{ utils_import | utils_import }}


def validate({{ validation | param_string }}):
    """
    Validate the solution and compute fitness metrics.

{% if validation.params %}
    Args:
{% for param in validation.params %}
        {{ param.name }}{% if param.type_hint %} ({{ param.type_hint }}){% endif %}: {{ param.description | default("TODO: describe parameter") }}
{% endfor %}
{% endif %}

    Returns:
        dict with metrics:
        {% for metric_name, metric_spec in metrics.items() %}
        - {{ metric_name }}: {{ metric_spec.description }}
        {% endfor %}
    """
    # TODO: Unpack/process input data

    # TODO: Validate constraints from task_description.txt

    # TODO: Compute metrics
    fitness = 0.0  # {{ metrics[primary_key].description }}
    is_valid = 1   # Set to 0 if any constraint violated

    return {
{% for metric_name in metrics.keys() %}
{% if metric_name == primary_key %}
        "{{ metric_name }}": fitness,
{% elif metric_name == "is_valid" %}
        "{{ metric_name }}": is_valid,
{% else %}
        "{{ metric_name }}": 0.0,  # TODO: Compute {{ metrics[metric_name].description }}
{% endif %}
{% endfor %}
    }
